<h1>Stupid coach</h1>
<div class="question">
  <p><%= @question %></p>
  <p class="italic">-- You</p>
</div>
<br>
<div class="answer">
  <p><%= @answer %></p>
  <p class="italic">-- Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
