<h1>Stupid coaching</h1>
<form action="/answer" class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-6">
      <input type="text" name="question" class="form-control">
    </div>
    <div class="col-sm-3">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </div>
</form>
