// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question, .answer {
  border-left: solid 3px grey;
  padding-left: 10px;
  margin-left: 20px;
}

.italic {
  font-style: italic;
}
